page-love-test {

}
.custom-hw{

  height: 100% !important;
  width: 100%;
  background: rgba(255,0,255,0.1);
}
.bg-pink{
background: rgba(255,0,255,0.1);
}
@keyframes heart-beats {
  0%   { transform: scale(1); background-color:rgba(255,0,255,0.1);}
  7%  { transform: scale(1.2); }
  12%  { transform: scale(1.1); }
  20%  { transform: scale(1.3); }
  60%  { transform: scale(1); }
  100% { transform: scale(0.99); }
}

@-webkit-keyframes heart-beats {
  0%  { -webkit-transform: scale(1); }
  7%  { -webkit-transform: scale(1.2); }
  12% { -webkit-transform: scale(1.1); }
  20% { -webkit-transform: scale(1.3); }
  60% { -webkit-transform: scale(1); }
  100% { -webkit-transform: scale(0.99); }
}


@keyframes heart-beats-text {
  0%   { transform: scale(1); }
  7%  { transform: scale(1.2); }
  12%  { transform: scale(1.1); }
  20%  { transform: scale(1.3); }
  60%  { transform: scale(1); }
  100% { transform: scale(0.99); }
}

@-webkit-keyframes heart-beats-text {
  0%  { -webkit-transform: scale(1); }
  7%  { -webkit-transform: scale(1.2); }
  12% { -webkit-transform: scale(1.1); }
  20% { -webkit-transform: scale(1.3); }
  60% { -webkit-transform: scale(1); }
  100% { -webkit-transform: scale(0.99); }
}
.heart {
	position: relative;
    width: 100%;
    font-size: 200px;
    text-align: center;
    color: #FE0666;
     text-shadow: 2px 2.5px #eee;
	
	-webkit-animation: heart-beats 3s infinite;
	animation: heart-beats 3s infinite;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.text-heart {
	position: relative;
    width: 100%;
   
    text-align: center;
    color:#fff;
     text-shadow: 2px 2.75px #FE0666;
    
	
	-webkit-animation: heart-beats-text 3s infinite;
	animation: heart-beats-text 3s infinite;
    

   
    text-align: center;
}

.bg{
    background-image:url(../assets/img/bg.png); 
    background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  width: 100%;
  background-size: cover;
}
.test{

    background-color:rgba(255,0,255,0.1);
    color:white;

}
.full-width{
  width: 100% !important;
}

.height-custom{
  height: 200px !important;
}
.pos-rel{position: relative; 
   width: 100%; /* for IE 6 */
}
.pos-abs{
   position: absolute; 
   top: 75px; 
   left: 0; 
   font-size: 24px;
   z-index: 20;
   width: 100%; 
}